In [1]:
url = 'https://www.basketball-reference.com/leagues/NBA_2023_standings.html#all_confs_standings_E'

In [2]:
import requests

data = requests.get(url)

with open("stats.html", "w+") as f:
        f.write(data.text)

In [3]:
from bs4 import BeautifulSoup

In [4]:
with open("stats.html") as f:
    page = f.read()
    
soup = BeautifulSoup(page, 'html.parser')

In [5]:
confs_standings_E = soup.find(id='confs_standings_E')
confs_standings_W = soup.find(id='confs_standings_W')

In [6]:
import pandas as pd

In [7]:
confs_standings = pd.read_html(str(confs_standings_E) + str(confs_standings_W))
#confs_standings_W = pd.read_html(str(confs_standings_W))

In [8]:
df_E = confs_standings[0]
df_W = confs_standings[1]
df_E.rename({'Eastern Conference': 'Team'}, axis=1, inplace=True)
df_W.rename({'Western Conference': 'Team'}, axis=1, inplace=True)

In [9]:
df_all = pd.concat([df_E, df_W], axis=0)
df_all.reset_index(drop=True, inplace=True)
df_all

                          Team  W  L  W/L%    GB   PS/G   PA/G    SRS
0           Boston Celtics (1)  2  0   1.0     —  118.5  110.5  -6.67
1       Washington Wizards (1)  2  0   1.0     —  108.0  103.5  -3.00
2            Atlanta Hawks (1)  2  0   1.0     —  112.5  102.5   3.00
3          Milwaukee Bucks (1)  1  0   1.0   0.5   90.0   88.0 -13.67
4        Charlotte Hornets (5)  1  1   0.5   1.0  120.5  113.0  19.33
5            Chicago Bulls (5)  1  1   0.5   1.0  108.0  105.0  -5.67
6          Toronto Raptors (5)  1  1   0.5   1.0  106.5  107.0   6.00
7          Detroit Pistons (5)  1  1   0.5   1.0  109.5  119.5 -11.00
8          New York Knicks (5)  1  1   0.5   1.0  121.0  110.5  10.67
9            Brooklyn Nets (5)  1  1   0.5   1.0  108.5  117.5   9.33
10    Cleveland Cavaliers (11)  0  1   0.0   1.5  105.0  108.0   2.33
11         Indiana Pacers (11)  0  2   0.0   2.0  120.5  125.5 -10.67
12             Miami Heat (11)  0  2   0.0   2.0  106.0  113.5 -13.00
13          Orlando Magic (11)  0  2   0.0   2.0  103.5  110.5  -9.33
14     Philadelphia 76ers (11)  0  2   0.0   2.0  102.5  108.0 -15.00
15       Memphis Grizzlies (1)  2  0   1.0  -0.5  122.0  117.0   8.00
16               Utah Jazz (1)  2  0   1.0  -0.5  127.5  114.0  16.50
17    New Orleans Pelicans (1)  2  0   1.0  -0.5  127.0  110.0  32.00
18  Portland Trail Blazers (1)  2  0   1.0  -0.5  114.0  109.5   1.33
19    Los Angeles Clippers (1)  1  0   1.0     —  103.0   97.0 -17.50
20  Minnesota Timberwolves (6)  1  1   0.5   0.5  120.5  120.0  16.33
21   Golden State Warriors (6)  1  1   0.5   0.5  123.0  118.5  -9.50
22          Denver Nuggets (6)  1  1   0.5   0.5  115.0  123.0   1.33
23            Phoenix Suns (6)  1  1   0.5   0.5  109.0  109.0   1.67
24       San Antonio Spurs (6)  1  1   0.5   0.5  119.5  131.5  -7.00
25       Dallas Mavericks (11)  0  1   0.0   1.0  105.0  107.0  -2.67
26       Sacramento Kings (11)  0  1   0.0   1.0  108.0  115.0  -3.33
27  Oklahoma City Thunder (11)  0  1   0.0   1.0  108.0  115.0   3.50
28        Houston Rockets (11)  0  2   0.0   1.5  114.5  123.0  -1.33
29     Los Angeles Lakers (11)  0  2   0.0   1.5  103.0  113.0 -17.67

In [10]:
#df_all.loc[df_all.Team == 'Boston Celtics  (1)']

df_all['Team'] = df_all['Team'].str.split()

In [11]:
for index, row in df_all.iterrows():
    df_all['Team'][index] = df_all['Team'][index][-2]

0          Celtics
1          Wizards
2            Hawks
3            Bucks
4          Hornets
5            Bulls
6          Raptors
7          Pistons
8           Knicks
9             Nets
10       Cavaliers
11          Pacers
12            Heat
13           Magic
14           76ers
15       Grizzlies
16            Jazz
17        Pelicans
18         Blazers
19        Clippers
20    Timberwolves
21        Warriors
22         Nuggets
23            Suns
24           Spurs
25       Mavericks
26           Kings
27         Thunder
28         Rockets
29          Lakers
Name: Team, dtype: object

/var/folders/dk/mc88r6b94c1bd2g4pvrrcxww0000gn/T/ipykernel_56592/2403492398.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_all['Team'][index] = df_all['Team'][index][-2]

In [12]:
df = df_all[['Team','W','L']]

            Team  W  L
0        Celtics  2  0
1        Wizards  2  0
2          Hawks  2  0
3          Bucks  1  0
4        Hornets  1  1
5          Bulls  1  1
6        Raptors  1  1
7        Pistons  1  1
8         Knicks  1  1
9           Nets  1  1
10     Cavaliers  0  1
11        Pacers  0  2
12          Heat  0  2
13         Magic  0  2
14         76ers  0  2
15     Grizzlies  2  0
16          Jazz  2  0
17      Pelicans  2  0
18       Blazers  2  0
19      Clippers  1  0
20  Timberwolves  1  1
21      Warriors  1  1
22       Nuggets  1  1
23          Suns  1  1
24         Spurs  1  1
25     Mavericks  0  1
26         Kings  0  1
27       Thunder  0  1
28       Rockets  0  2
29        Lakers  0  2

In [13]:
Assaf = {'W':['Warriors','Lakers','76ers','Hawks'],'L':['Pistons','Hornets'], 'score':'', 'name':'Assaf'}
Iddo = {'W':['Bucks','Celtics','Suns','Bulls'], 'L':['Jazz','Kings'], 'score':'','name':'Iddo'}
Liad = {'W': ['Cavaliers','Nets','Rapators','Pelicans'],'L':['Rockets','Thunder'], 'score':'','name':'Liad'}
Yaniv = {'W':['Nuggets','Maverics','Wolves'],'L':['Spurs','Magic','Knicks'], 'score':'','name':'Yaniv'}
Berger = {'W':['Grizzlies','Clippers','Heat'],'L':['Pacers','Wizards','Blazers'], 'score':'','name':'Berger'}

In [14]:
names = [Assaf, Iddo, Liad, Yaniv, Berger]
names

[{'W': ['Warriors', 'Lakers', '76ers', 'Hawks'],
  'L': ['Pistons', 'Hornets'],
  'score': '',
  'name': 'Assaf'},
 {'W': ['Bucks', 'Celtics', 'Suns', 'Bulls'],
  'L': ['Jazz', 'Kings'],
  'score': '',
  'name': 'Iddo'},
 {'W': ['Cavaliers', 'Nets', 'Rapators', 'Pelicans'],
  'L': ['Rockets', 'Thunder'],
  'score': '',
  'name': 'Liad'},
 {'W': ['Nuggets', 'Maverics', 'Wolves'],
  'L': ['Spurs', 'Magic', 'Knicks'],
  'score': '',
  'name': 'Yaniv'},
 {'W': ['Grizzlies', 'Clippers', 'Heat'],
  'L': ['Pacers', 'Wizards', 'Blazers'],
  'score': '',
  'name': 'Berger'}]

In [15]:
for name in names:
    name['score'] = df.loc[df['Team'].isin(name['W']),['W']].sum(axis=0)[0] + df.loc[df['Team'].isin(name['L']),['L']].sum(axis=0)[0]
    print(str(name['name'])+ ' ' + str(name['score']))

Assaf 5
Iddo 6
Liad 6
Yaniv 5
Berger 5